---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About</h1>
    <p>I am an author who writes books.</p>
    <p>This is where you can learn more about me and my writing.</p>
</Layout>

