---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
    <h1>Contact</h1>
    <p>You can reach me at: example@email.com</p>
    <p>This is where you can get in touch with me.</p>
</Layout>

